<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/assets/favicon_io/favicon.ico" />
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Go Learn</title>
  </head>
  <body>
    <img src="https://go.dev/images/go-logo-blue.svg" alt="go learn" />
    <p>
      Welcome <div style="background-color:greenyellow;padding:25px;">{{.email}}</div> You are logged in &nbsp;&nbsp;
      <img src={{.pic}} />
      <br>
      <br>
      <a href="/">return to index!</a>
    </p>
  </body>
</html>